<mat-toolbar color="accent" class="example-footer">
  <mat-toolbar-row style="margin-top: 15px;">
    <a href="https://github.com/hraverkar/HarshalBlogs" target="_blank">
      <img src="../../assets/image/11.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://dev.to/hraverkar" target="_blank">
      <img src="../../assets/image/12.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://facebook.com/hraverkar" target="_blank">
      <img src="../../assets/image/13.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
      <img src="../../assets/image/14.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://www.hackerrank.com/hraverkar?hr_r=1" target="_blank">
      <img src="../../assets/image/16.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/15.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://linkedin.com/in/hraverkar" target="_blank">
      <img src="../../assets/image/18.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://medium.com/@hraverkar" target="_blank">
      <img src="../../assets/image/19.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://paypal.me/hraverkar" target="_blank">
      <img src="../../assets/image/20.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://slack.com/hraverkar" target="_blank">
      <img src="../../assets/image/21.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://javascript.info/" target="_blank">
      <img src="../../assets/image/17.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://stackoverflow.com/users/2635445/harshal" target="_blank">
      <img src="../../assets/image/22.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://twitter.com/hraverkar" target="_blank">
      <img src="../../assets/image/23.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://api.whatsapp.com/send?phone=9743420543&text=%20HI" target="_blank">
      <img src="../../assets/image/24.png">
    </a>

    <span class="example-spacer"></span>
    <a href="https://github.com/hraverkar" target="_blank">
      <img src="../../assets/image/25.png">
    </a>

  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <div style="font-size: x-small;">
    <a style="font-style: italic;">@Designed by <a href="https://hraverkar.netlify.app" target="_blank">Harshal Raverkar</a> with &#10084; Angular</a>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
